USE [VLXD_User]
GO
ALTER TABLE [dbo].[tokenForgetPassword] DROP CONSTRAINT [FK__tokenForg__userI__398D8EEE]
GO
/****** Object:  Table [dbo].[user_login]    Script Date: 7/4/2025 9:48:03 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_login]') AND type in (N'U'))
DROP TABLE [dbo].[user_login]
GO
/****** Object:  Table [dbo].[tokenForgetPassword]    Script Date: 7/4/2025 9:48:03 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tokenForgetPassword]') AND type in (N'U'))
DROP TABLE [dbo].[tokenForgetPassword]
GO
USE [master]
GO
/****** Object:  Database [VLXD_User]    Script Date: 7/4/2025 9:48:03 PM ******/
DROP DATABASE [VLXD_User]
GO
/****** Object:  Database [VLXD_User]    Script Date: 7/4/2025 9:48:03 PM ******/
CREATE DATABASE [VLXD_User]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'User', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\User.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'User_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\User_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VLXD_User].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VLXD_User]
GO
/****** Object:  Table [dbo].[tokenForgetPassword]    Script Date: 7/4/2025 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tokenForgetPassword](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](255) NOT NULL,
	[expiryTime] [timestamp] NOT NULL,
	[isUsed] [bit] NOT NULL,
	[userId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_login]    Script Date: 7/4/2025 9:48:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_login](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](100) NULL,
	[Status] [varchar](20) NULL,
	[Role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[user_login] ON 

INSERT [dbo].[user_login] ([UserID], [FullName], [PhoneNumber], [email], [password], [Status], [Role]) VALUES (1, N'thanh nhan', N'98999999', N'nhan1234@gmail.com', N'12345', N'active', NULL)
INSERT [dbo].[user_login] ([UserID], [FullName], [PhoneNumber], [email], [password], [Status], [Role]) VALUES (4, N'thanh nhan nguyen', N'09879988899', N'nhan12345@gmail.com', N'123456', N'active', NULL)
INSERT [dbo].[user_login] ([UserID], [FullName], [PhoneNumber], [email], [password], [Status], [Role]) VALUES (6, N'thanh nhan nguyen2', N'09879988877', N'nhan1@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'active', NULL)
SET IDENTITY_INSERT [dbo].[user_login] OFF
GO
ALTER TABLE [dbo].[tokenForgetPassword]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[user_login] ([UserID])
GO
USE [master]
GO
