USE [master]
GO
/****** Object:  Database [vlxd]    Script Date: 19/06/2025 1:52:25 CH ******/
CREATE DATABASE [vlxd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vlxd', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\vlxd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vlxd_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\vlxd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vlxd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vlxd]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 19/06/2025 1:52:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 19/06/2025 1:52:25 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[category_id] [int] NULL,
	[price] [int] NULL,
	[stock_quantity] [int] NULL,
	[unit] [nvarchar](50) NULL,
	[brand_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name]) VALUES (1, N'Vật liệu xây dựng thô')
INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Vật liệu hoàn thiện')
INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'Sơn và hóa chất xây dựng')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name], [description], [category_id], [price], [stock_quantity], [unit], [brand_name]) VALUES (1, N'Gạch đỏ', N'Gạch nung truyền thống dùng để xây tường', 1, 1500, 10000, N'viên', N'Vĩnh Long')
INSERT [dbo].[products] ([id], [name], [description], [category_id], [price], [stock_quantity], [unit], [brand_name]) VALUES (2, N'Gạch block', N'Gạch không nung dùng cho xây tường', 1, 1500, 8000, N'viên', N'Bình Minh')
INSERT [dbo].[products] ([id], [name], [description], [category_id], [price], [stock_quantity], [unit], [brand_name]) VALUES (3, N'Xi măng Hà Tiên', N'Xi măng dùng cho xây dựng dân dụng', 1, 90000, 1200, N'bao', N'Hà Tiên')
SET IDENTITY_INSERT [dbo].[products] OFF
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
USE [master]
GO
